
html, body {
  height: 100%;
}

.y-wrap {
  display: flex;
  flex-direction: column;
  min-height: 96vh;
}

header {
  background-color: rgb(170, 165, 165);
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: rgb(170, 165, 165);
}

ul {
  list-style-type: none;
}